* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}

//product.html
body {
    position: relative;
    .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background-color: #000;
        opacity: .8;
        display: none;
    }
    .wrapper {
        padding:0 80px;
        max-width: 1280px;
    }
    header {
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        h1{
            a{
                img{
                    width: 180px;
                    height: 20px;
                }
            }
        }
        .toggle_btn{
            width: 30px;
            height: 30px;
            position: relative;
            
            z-index: 100;
            #top-bar{
                width: 100%;
                height:2px;
                position: absolute;
                top: 10px;
                transition: all 0.5s;
                background-color: #242424;
            }
            #bottom-bar{
                width: 100%;
                height:2px;
                position: absolute;
                top: 20px;
                transition: all 0.5s;
                background-color: #242424;
                
            }
        }
    }
    main {
        #top{
            margin-top: 80px;
            text-align: center;
            h1 {
                font-weight: normal;
                text-align: left;
                font-size: 16px;
                margin-bottom: 30px;
            }
            #product-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: left;
                li{
                    width: 23%;
                    margin-bottom: 40px;
                    font-size: 12px;
                    img {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
            .page-index {
                display: inline-flex;
                a {
                    font-size: 14px;
                    padding-bottom: 50px;
                }
                #secound {
                    margin-left: 30px;
                    opacity: 0.5;
                    display: none;
                }
            }
        }
    }
    footer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        ul {
            display: flex;
            li{
                a {
                    text-decoration: none;
                    padding-right: 20px;
                }
            }
        }
        p {

        }
    }
}





//product_info.html








