<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Stylesheets/product_stylesheet.css">
    <title>code-step[05]</title>
</head>
<body>
    <!-- <header class="wrapper">
        <h1>
            <a href="product.html">
                <img src="../Images/logo.svg" alt="Furniture Design">
            </a>
        </h1>
        <div class="toggle_btn">
            <span id="top-bar"></span>
            <span id="bottom-bar"></span>
        </div>
        <div class="mask">
            <ul id="menu" class="SlideOut">
                <li><a href="./product.html">PRODUCTS</a></li>
                <li><a href="./about.html">ABOUT</a></li>
                <li><a href="./company.html">COMPANY</a></li>
                <li><a href="mailto:shuto.1011@icloud.com">CONTACT</a></li>
            </ul>
        </div>
    </header> -->
    <main>
        <div id="top" class="wrapper">
            <h1>Products</h1>
            <ul id="product-list">
                <!-- displayList.jsによって要素追加 -->
            </ul>
            <div class="page-index">
                <a href="#" id="view">View more</a>
                <a href="#" id="secound">2</a>
            </div>
        </div>
    </main>
    <footer class="wrapper">
        <ul>
            <li><a href="https://instagram.com">INSTAGRAM</a></li>
            <li><a href="https://twitter.com">TWITTER</a></li>                
            <li><a href="https://facebook.com">FACEBOOK</a></li>
        </ul>
        <p>© Furniture Design</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="header.js"></script>
    <script>header();</script>
    <script src="../JS/jQuery.js"></script>
    <script src="../JS/products_data.js"></script>
    <script src="../JS/displayList.js"></script>
</body>
</html>