<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Stylesheets/product_stylesheet.css">
    <title>code-step[05]</title>
</head>
<body>
    
    <header class="wrapper">
        <h1>
            <a href="product.html">
                <img src="../Images/logo.svg" alt="Furniture Design">
            </a>
        </h1>
        <div class="toggle_btn">
            <span></span>
            <span></span>
        </div>
    </header>
    <main>
        <div id="top" class="wrapper">
            <h1>Products</h1>
            <ul id="product-list">
                <!-- displayList.jsによって要素追加 -->
            </ul>
            <a href="">View more</a>
        </div>
    </main>
    <footer></footer>
    <!-- <div class="mask"></div> -->
    <script src="../JS/products_data.js"></script>
    <script src="../JS/displayList.js"></script>
</body>
</html>